#container{
  margin-left: 340px;
  margin-top: -650px;
}

#container .sombraAnel{
  background: #00000029 bottom right;
  width: 120px;
  height: 92px;
  margin-left: -210px;
  margin-top: 340px;
  border-radius: 1.25rem;

  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

#container .sombraAnel #imgAnel {
  width: 120px;
  position: relative;
  margin-top: -9px;
  margin-left: 11px;
  border-radius: 1.25rem;
}

#container .sombraAnel:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#container .sombraEscova{
  background: #00000029 bottom right;
  width: 120px;
  height: 92px;
  margin-top: -100px;
  margin-right: 245px;
  border-radius: 1.25rem;


  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

.sombraEscova #imgEscova {
  width: 120px;
  position: relative;
  margin-left: 16px;
  margin-top: -15px;
  border-radius: 1.25rem;
}

#container .sombraEscova:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#container .sombraPalhetas {
  background: #00000029 bottom right;
  width: 120px;
  height: 92px;
  margin-top: -100px;
  margin-left: 205px;
  border-radius: 1.25rem;

  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

#container .sombraPalhetas #imgPalhetas{
  width: 110px;
  position: relative;
  margin-top: -5px;
  margin-left: 18px;
  border-radius: 1.25rem;
}

#container .sombraPalhetas:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#container .sombraPlaca{
  background: #00000029 bottom right;
  width: 120px;
  height: 92px;
  margin-top: 35px;
  margin-left: -115px;
  border-radius: 1.25rem;

  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

#container .sombraPlaca #imgPlaca{
  width: 120px;
  position: relative;
  margin-left: 8px;
  margin-top: -5px;
  border-radius: 1.25rem;
}

#container .sombraPlaca:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#container .sombraContato{
  background: #00000029 bottom right;
  width: 120px;
  height: 92px;
  margin-top: -90px;
  margin-left: 101px;
  border-radius: 1.25rem;

  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

#container .sombraContato #imgContato{
  width: 120px;
  height: 87px;
  position: relative;
  margin-left: 22px;
  margin-top: -8px;
  border-radius: 1.25rem;
}
#container .sombraContato:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#container .sombraAnelBiTri{
  background: #00000029 bottom right;
  width: 120px;
  height: 92px;
  margin-top: -100px;
  margin-left: 315px;
  border-radius: 1.25rem;

  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

#container .sombraAnelBiTri #imgAnelBiTri{
  width: 120px;
  height: 90px;
  position: relative;
  margin-left: 23px;
  margin-top: -13px;
  border-radius: 1.25rem;
}

#container .sombraAnelBiTri:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#container .sombraPinos{
  background: #00000029 bottom right;
  width: 120px;
  height: 100px;
  margin-top: -220px;
  margin-left: 412px;
  border-radius: 1.25rem;

  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

#container .sombraPinos #imgPinos{
  width: 118px;
  height: 84px;
  position: relative;
  margin-left: 5px;
  border-radius: 1.25rem;
}

#container .sombraPinos:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#container .sombraBuchas{
  background: #00000029 bottom right;
  width: 120px;
  height: 109px;
  margin-top: 20px;
  margin-left: 555px;
  border-radius: 1.25rem;

  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

#container .sombraBuchas #imgBuchas{
  width: 120px;
  height: 100px;
  position: relative;
  margin-left: 25px;
  margin-top: -6px;
  border-radius: 1.25rem;
}

#container .sombraBuchas:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

@media (min-width: 360px) and (max-width: 767.98px){
  #container .sombraAnel{
    margin-top: 175px;
    margin-left: -320px;
  }
  #container .sombraPalhetas{
    margin-top: 15px;
    margin-left: -165px;
  }
  #container .sombraEscova{
    margin-top: 20px;
    margin-left: -320px;
  }
  #container .sombraPlaca{
    margin-top: -335px;
    margin-left: -165px;
  }
  #container .sombraContato{
    margin-top: 20px;
    margin-left: -165px;
  }
  #container .sombraAnelBiTri{
    margin-top: 20px;
    margin-left: -320px;
  }
  #container .sombraPinos{
    margin-top: 20px;
    margin-left: -320px;
  }
  #container .sombraBuchas{
    margin-top: -99px;
    margin-left: -165px;
  }
}

@media  (min-width: 810px) and (max-width: 1000px ){
  .sombraAnel{
    width: 150px;
    height: 110px;
    margin-left: 258px;
    margin-top: 260px;
  }
  
  .sombraAnel #imgAnel {
    width: 150px;
  }
  
  .sombraEscova{
    width: 150px;
    height: 118px;
    margin-top: -118px;
    margin-left: 90px;
  }
  
  .sombraEscova #imgEscova {
    width: 150px;
  }
  
  .sombraPalhetas {
    width: 150px;
    height: 116px;
    margin-top: -116px;
    margin-left: 425px;
  }
  .sombraPalhetas #imgPalhetas{
    width: 150px;
  }
  
  .sombraPlaca{
    width: 150px;
    height: 105px;
    margin-top: 18px;
    margin-left: 95px;
  }
  
  .sombraPlaca #imgPlaca{
    width: 150px;
  }
  
  .sombraContato{
    width: 150px;
    height: 103px;
    margin-top: -105px;
    margin-left: 260px;
  }
  
  .sombraContato #imgContato{
    width: 150px;
    height: 100px;
  }
  
  .sombraAnelBiTri{
    width: 150px;
    height: 103px;
    margin-top: -100px;
    margin-left: 425px;
  }
  
  .sombraAnelBiTri #imgAnelBiTri{
    width: 150px;
    height: 100px;
  }
  
  .sombraPinos{
    width: 150px;
    height: 141px;
    margin-top: 15px;
    margin-left: 175px;
  }
  
  .sombraPinos #imgPinos{
    width: 150px;
    height: 136px;
  }
  
  .sombraBuchas{
    width: 150px;
    height: 141px;
    margin-top: -140px;
    margin-left: 335px;
  }
  
  .sombraBuchas #imgBuchas{
    width: 150px;
    height: 140px;
  }
  
}
@media (min-width: 768px) and (max-width: 1024px){
  #container .sombraAnel{
    margin-left: -270px;
  }
  #container .sombraEscova{
    margin-left: -100px;
  }
  #container .sombraPalhetas{
    margin-left: 60px;
  }
  #container .sombraPinos{
    margin-left: 230px;
  }
  #container .sombraPlaca{
    margin-left: -270px;
  }
  #container .sombraContato{
    margin-left: -100px;
  }
  #container .sombraAnelBiTri{
    margin-left: 60px;
  }
  #container .sombraBuchas{
    margin-left: 230px;
  }
}