#imgSobreEmpresa{
  width: 300px;
  margin-right: 100px;
  margin-top: -90px;
}

#paragrapho{
  display: block;
}

#mainProdutos{
  background-color: red;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  margin: 50px auto;
  height: 500px;

  max-width: 1200px;
}

.produtosTexto{
  width: 1000px;
  margin-bottom: 320px;
  text-align: center;
  font-size: 20px;
}

#copyright{
  padding: 0px 30px;
  height: 10px;
  color:gray;
  margin-top: 62px;
  margin-left: 425px;
}

#footer{
  background-color: #0b1923;
  color: whitesmoke;
  font-family: 'Josefin Sans', sans-serif;

  height: 300px;
  padding: 30px 50px;
  margin-top: 120px;
}

@media (min-width: 360px) and (max-width: 767.98px){
  #mainProdutos{
    height: 700px;
  }
  .produtosTexto{
    margin-bottom: 455px;
    text-align: none;
    font-size: 14px;
  }
  #mainSobreEmpresa{
    height: 500px;
  }
  
  #imgSobreEmpresa{
    margin-top: -50px;
    margin-left: -25px;
  }

  #mainSobreEmpresa p{
    margin-top: 10px;
    margin-left: -402px;
  }
  #mainSobreEmpresa p span{
    display: block;
  }
  #footer{
    height: 600px;
  }
  #copyright{
    margin-left: -67px;
    margin-top: 8px;
    font-size: 10px;
  }
 #footer .col-3{
    max-width: none;
    flex: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  #footer .row {
    flex-wrap: revert;
  }
  #copyright{
    margin-top: 60px;
    margin-left: -30px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  #navbarNav .navbar-nav{
    padding-left: 435px;
  }
  #mainSobreEmpresa p{
    margin-top: 155px;
    margin-left: -380px;
    font-size: 20px;
    text-align: justify;
    width: 520px;
  }
  #mainSobreEmpresa p span{
    display: contents;
  }
}